<ion-view view-title="Lights">
  <ion-content>

    <div class="item item-button-right">
      Status
      <button class="button button-balanced" ng-show="rpiStatus">
        <i class="icon ion-power"></i>
      </button>
      <button class="button button-stable" ng-hide="rpiStatus">
        <i class="icon ion-power"></i>
      </button>
    </div>

    <div class="card" ng-repeat="device in devices | orderBy:'seqNum'" ng-show="device.switchNum">
      <div class="item item-divider" ng-class="changeIndicator(device.state)">
        {{device.name}}
      </div>
      <div class="item item-text-wrap">
        <div class="button-bar">
          <a class="button button-balanced" ng-click="execute('{{device.switchNum}},on')">On</a>
          <a class="button button-assertive" ng-click="execute('{{device.switchNum}},off')">Off</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
